[submodule "extension"]
	path = extension
	url = git@github.com:axet/miroit-extension.git
[submodule "plugin"]
	path = plugin
	url = git@github.com:axet/miroit-plugin.git
[submodule "installer"]
	path = installer
	url = git@github.com:axet/miroit-installer.git
